.Menu__item--active{
    background-color: #FF963C;
}

.Menu__item--unactive{
    background-color: #777777;
}

.Menu__item{
    width: 240px;
    padding: 20px;
}
.Menu__item:hover{
    background-color: #FF963C;
}

.Header__men__show{
    position: absolute;
    z-index: 1;
    left: -240px;
}