.MealSelection{
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.MealSelection__wrap__icon{
    display: flex;
    justify-content: center;
}

.MealSelection__icon{
    width: 40px;
    height: 40px;
}

.MealSelection__name{
    color: white;
}

.MealSelection__wrap_data{
    display: flex;
    flex-direction: column;
    position: absolute;
}