.MealItem{
    position: relative;
}

.MealItem__desc{
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 3px;
    color: white;
    background-color: #FFCC21;
    padding: 8px;
    font-size: 15px;
}